.container {
    background: gold;
}

.rotate-container {
    width: 90px;
    height: 90px;
    display: flex;
}

.rotate {
    width: 72px;
    height: 72px;
    border: 1px solid #e5e5e5;
    tarnsform: rotate(45deg);
    transform: rotate(45deg);
}